@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

:root {
  /* CSS HEX */

  --yellow-orange: #f4ae4aff;
  --spanish-orange: #e56512ff;
  --windsor-tan: #ad5015ff;
  --brown: #995e20ff;
  --seal-brown: rgb(70, 28, 10);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
